[tool.mypy]
plugins = ["mypy_django_plugin.main"]
# for some reason this is not following the ignore of the settings file...
exclude = [
  'migrations',
  'test_project\/test_project\/settings\.py'
]

[tool.django-stubs]
django_settings_module = "test_project.test_project.settings"

[tool.black]
line-length = 120
skip-string-normalization = true
exclude = '''
  migrations
'''

[tool.isort]
line_length = 120
known_django = "django"
sections = ["FUTURE","STDLIB","DJANGO","THIRDPARTY","FIRSTPARTY","LOCALFOLDER"]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
