{% load mail_viewer_tags %}
<html>
	<head>
		<title>Django Mail Viewer - Email List</title>
  </head>
	<body>
		<div class="email_list">
			<ul>
				{% for message in outbox %}
					<li>
						{% email_message_id message as message_id %}
						<a href="{% url 'mail_viewer_detail' message_id|cut:'<'|cut:'>' %}" target="email_detail_iframe">
							<div>
								{{ message.subject }}<br>
								From: {{ message.from }}<br>
								To: {% for r in message.recipients %}{{ r }}; {% endfor %}<br>
								Sent: {{ message.message.date }}
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="email_detail">
			<iframe name="email_detail_iframe"></iframe>
		</div>
	</body>
</html>
