{% extends 'mail_viewer/base.html' %}

{% load mail_viewer_tags %}
{% block 'title' %}Django Mail Viewer - Email Detail{% endblock 'title' %}
{% block 'css' %}
<style>
  body {height: 100%; margin: 0 5px}
  html {height: 100%}
		.header_info {
			height: 175px;
			margin-left: 10px;
		}
		.email__body {
			height: calc(100% - 175px);
		}
		.email__attachments {
			margin: 5px 0;
		}
		.tab_pane {
			border: none;
			margin: 0 auto;
			height: 100%;
			padding-right: 1px;
			overflow: scroll;
		}
		.tabs {
			list-style: none;
			padding: 0;
			margin: 10px 0 0;
			border-bottom: none;
			height: 27px;
		}

		.tabs li { display: inline; }
		.tabs li a {
			color: black;
			float: left;
			display: block;
			padding: 4px 10px;
			margin-left: -1px;
			position: relative;
			left: 1px;
			background: white;
			text-decoration: none;
			border: 1px solid black;
			border-bottom: none;
			border-radius: 5% 5% 0 0;
		}
		.tabs.active {
			background: #ccc;
		}
		.tabs li a:hover, .tabs li a.active { background: #ccc; }
		.tabs::after {
			content:"";
			display:table;
			clear:both;
		}

		.tabs__panes {
			height: calc(100% - 37px);
			border: 1px solid black;
			border-left: none;
			border-right: none;
			border-bottom: none;
		}

		.tab_pane.email__body--html > iframe {
			width: 100%;
			height: 100%;
			border: none;
			margin-bottom: 1px;
		}
		.tab_pane.email__body--text, .tab_pane.email__body--raw-html {
			padding: 5px 5px;
		}

		.wrapper {
			height: 100%;
		}
	</style>
	{% endblock 'css' %}
	{% block 'main_content' %}
    {% include 'mail_viewer/email_detail_content_fragment.html' %}
	{% endblock 'main_content' %}
</body>
</html>
